/**
 * @author Igor Khlaponin igor.boxmails@gmail.com
 */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


.avatar-popup{
    width: 15em;
    height: auto;
    max-height: 40em;
    min-height: 50px;
    overflow: hidden;
    position: fixed;
    top: 110px;
    left: 15px;

    color: #ff5b68;
}
