body {
    font-size: 16px;
}

h2, h3 {
    margin-left: 10px;
}
#chat {
    margin: 7px 10px;
}
.btn-locale {
    margin-left: 10px;
    margin-top: 8px;
    width: 30px;
}

.btn-img {
    height: 30px;
    margin-right: 10px;
}

.logo-img {
    height: 30px;
    margin-right: 10px;
}

.btn-mill {
    border: 1px solid #34b3a0;
    background: #34b3a0;
}

.btn-mill:hover,
.btn-mill:focus,
.btn-mill:active {
    border: 1px solid #21786b;
    background: #21786b;
}

.btn-reversi {
    border: 1px solid #24a52d;
    background: #24a52d;
}

.btn-reversi:hover,
.btn-reversi:focus,
.btn-reversi:active {
    border: 1px solid #1a7320;
    background: #1a7320;
}

.btn-renju {
    border: 1px solid #c2951c;
    background: #c2951c;
}

.btn-renju:hover,
.btn-renju:focus,
.btn-renju:active {
    border: 1px solid #987518;
    background: #987518;
}

.btn-halma {
    border: 1px solid #1B0FFF;
    background: #1B0FFF;
}

.btn-halma:hover,
.btn-halma:focus,
.btn-halma:active {
    border: 1px solid #140b95;
    background: #140b95;
}

.btn-rsp {
    border: 1px solid #7614da;
    background: #7614da;
}

.btn-rsp:hover,
.btn-rsp:focus,
.btn-rsp:active {
    border: 1px solid #531099;
    background: #531099;
}

.btn-seabattle {
    border: 1px solid #c10000;
    background: #c10000;
}

.btn-seabattle:hover,
.btn-seabattle:focus,
.btn-seabattle:active {
    border: 1px solid #980000;
    background: #980000;

}

.btn-join {
    border: 1px solid #30b6d5;
    background: #30b6d5;
}

.btn-join:hover,
.btn-join:focus,
.btn-join:active {
    border: 1px solid #297994;
    background: #297994;

}

.rule-img {
    width: 150px;
}

.avatar-small {
    width: 10em;
    height: auto;
    max-height: 30em;
}

.avatar-big {
    width: 15em;
    height: auto;
    max-height: 40em;
}

.avatar-big-positioning {
    position: absolute;
    top: 110px;
    left: 15px;
}

.avatar-upload {
    position: absolute;
    top: 80px;
    left: 15px;
}

.profile-bar-positioning {
    position: absolute;
    top: 80px;
    left: 300px;
}

.game-list-positioning {
    position: absolute;
    top: 390px;
    left: 80px;
}

#navbar a:hover {
    background: #d8d9d8;
}

.navbar-default .navbar-nav > .active > a {
    color: white;
    background: #e43143;
}

#navbar .active :hover {
    color: white;
    background: #d0384b;
}

#hello-player {
    margin: 7px 10px;
}

#hello-player > img {
    height: 50px;
}

hr {
    width: 80%;
    border-top: 1px solid #dbdbdb;
}

.reversi-message {
    width: 250px;
    height: auto;
    position: absolute;
    top: 230px;
    left: 20px;
    background-color: #d7e9cd;
}

.panel-group .panel {
    width: 33%;
    display: inline-table;
}

.panel-group {
    text-align: center;
}

.panel-collapse {
    text-align: left;
}

#welcome-container {
    padding-top: 1em;
    padding-bottom: 3em;
    margin-bottom: 2em;
    text-align: center;
    background-color: #4091a2;
}

#welcome-container > h2 {
    color: white;
}

#welcome-text {
    color: white;
    font-style: italic;
}

#welcome-text,
#welcome-btn,
#error-text {
    text-align: left;
    margin-left: 40%;
    padding-left: 1em;
}

#welcome-text {
    border-left: 1px solid white;
}

#lang-switch {
    float: right;
    margin-right: 1em;
    color: white;
}

#lang-switch > a {
    color: white;
    text-decoration: none;
}

#made-by {
    color: white;
    width: 100%;
    text-align: right;
    background-color: #4091a2;
    padding: 1em;
}

#loginModal {
    margin-top: 18em;
}

#error-text {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
}

.error {
    color: #ff0000;
    font-size: medium;
}

form#newPlayer {
    text-align: -webkit-center;
}

.mg-center {
    text-align: -webkit-center;
}

/*.placeholder {*/
    /*clear: left;*/
    /*float: left;*/
/*}*/

/*.message {*/
    /*float: left;*/
    /*vertical-align: text-bottom;*/
/*}*/


