
#field {
	margin:auto;
	width: 507px;
}

#tips {
	margin: 20px;
	text-align: center;
}

#board {
	width: 366px;
	height: 366px;
	border: 1px solid #34b3a0;
	background-image: url(../../img/mill/board.png);
}

.position {
	width: 52px;
	height: 52px;
	float: left;
	display: inline-block;
}

.white,
.black {
	width: 26px;
	height: 26px;
	border-radius: 12px;
	margin: 12px;
	font-size: 13px;
	text-align: center;
}

.white {
	color: white;
}

.black {
	color: black;
}

#white,
#black,
#board {
	float: left;
	display: inline-block;
}

#white,
#black {
	width: 70px;
	height: 364px;
}

.whiteStone,
.blackStone {
	width: 25px;
	height: 5px;
	margin-left: 22px;
	margin-top: 15px;
	border-radius: 2px;
	border: 1px solid gray;
}

.whiteStone,
.white {
	background: #fefffd;
}

.blackStone,
.black {
	background: #5d5d5d;
}


