.bs-cont{
	height: 100vh;	
}
.bs-row{
	height: 80px;
	text-align: center;
}
.bs-row-main{
	height: 600px;
}
.bs-col{
	height: 100px;
}
.bs-col-c{
	height: 500px;
	text-align: center;
}
.letter{
	margin: 1.5px;
	margin-right: 30px;
}
.celly{
	margin: 1.5px;
}
.target{
	margin-right: 20px;
}
.digit{
    font-size: 26px;
	margin: 12px;
}
.bs-row-bot{
	height: 250px;
	text-align: center;
}
#you{
    font-size: 32px;
    color: springgreen;
}
#him{
    font-size: 32px;
    color: tomato;
}